* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* FONTS */
@font-face {
    font-family: Sansa-Bold;
    src: url("sansa-font/SANSB___.TTF")
}

@font-face {
    font-family: Sansa-Light;
    src: url("sansa-font/SANSL___.TTF")
}

/* IKONER SVG CSS */
/* Hjemmesideproduktion */
#Computer1  .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Computer1  .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Computer1  .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Computer1  .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Computer1  .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Computer1  .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Computer1  .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Computer1  .st7{display:none;}
#Computer1  .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Computer1  .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Computer1  .st10{fill:#FFFFFF;}
#Computer1  .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Computer1  .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Computer1  .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Computer1  .st14{stroke:#000000;stroke-miterlimit:10;}
#Computer1  .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Tekstproduktion */
#Tekstproduktion .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Tekstproduktion .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Tekstproduktion .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tekstproduktion .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Tekstproduktion .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Tekstproduktion .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tekstproduktion .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tekstproduktion .st7{display:none;}
#Tekstproduktion .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tekstproduktion .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Tekstproduktion .st10{fill:#FFFFFF;}
#Tekstproduktion .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Tekstproduktion .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Tekstproduktion .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Tekstproduktion .st14{stroke:#000000;stroke-miterlimit:10;}
#Tekstproduktion .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Fotografering */
#Foto .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Foto .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Foto .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Foto .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Foto .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Foto .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Foto .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Foto .st7{display:none;}
#Foto .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Foto .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Foto .st10{fill:#FFFFFF;}
#Foto .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Foto .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Foto .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Foto .st14{stroke:#000000;stroke-miterlimit:10;}
#Foto .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Videoproduktion */
#Film .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Film .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Film .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Film .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Film .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Film .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Film .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Film .st7{display:none;}
#Film .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Film .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Film .st10{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-linecap:round;stroke-miterlimit:10;}
#Film .st11{stroke:#000000;stroke-width:11;stroke-linecap:round;stroke-miterlimit:10;}
#Film .st12{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Film .st13{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Film .st14{fill:#FFFFFF;}
#Film .st15{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Film .st16{stroke:#000000;stroke-miterlimit:10;}
#Film .st17{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* BMC */
#BMC .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#BMC .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#BMC .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#BMC .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#BMC .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#BMC .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#BMC .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#BMC .st7{display:none;}
#BMC .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#BMC .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#BMC .st10{fill:#FFFFFF;}
#BMC .st11{fill:none;}
#BMC .st12{stroke:#000000;stroke-width:8;stroke-miterlimit:10;}
#BMC .st13{font-family: Sansa-Bold;}
#BMC .st14{font-size:170px;}
#BMC .st15{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#BMC .st16{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#BMC .st17{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#BMC .st18{stroke:#000000;stroke-miterlimit:10;}
#BMC .st19{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Infografik */
#Infografik .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Infografik .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Infografik .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Infografik .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Infografik .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Infografik .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Infografik .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Infografik .st7{display:none;}
#Infografik .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Infografik .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Infografik .st10{fill:#FFFFFF;}
#Infografik .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Infografik .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Infografik .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Infografik .st14{stroke:#000000;stroke-miterlimit:10;}
#Infografik .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Logodesign */
#Logodesign .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Logodesign .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Logodesign .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Logodesign .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Logodesign .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Logodesign .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Logodesign .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Logodesign .st7{display:none;}
#Logodesign .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Logodesign .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Logodesign .st10{fill:#FFFFFF;}
#Logodesign .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Logodesign .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Logodesign .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Logodesign .st14{stroke:#000000;stroke-miterlimit:10;}
#Logodesign .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Tryksager */
#Tryksager .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Tryksager .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Tryksager .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tryksager .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Tryksager .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Tryksager .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tryksager .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tryksager .st7{display:none;}
#Tryksager .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tryksager .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Tryksager .st10{fill:#FFFFFF;}
#Tryksager .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Tryksager .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Tryksager .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Tryksager .st14{stroke:#000000;stroke-miterlimit:10;}
#Tryksager .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}





/* MOBIL CSS */
#pagewrap {
    margin: 0.8em;
}

h1, h2, h3 {
    color: rgb(255, 153, 51);
}

h4 {
    font-family: Sansa-Bold;
    margin-bottom: 1px;
    margin-top: 10px;
}

#hero-section video {
    max-width: 100%;
    height: 550px;
    margin: auto;
    display: flex;
    
}

#hero-section {
    padding-top: 40px;
}


.overlay {
    position: fixed; /* Vil altid være ovenpå siden */
    display: none; /* vises ikke som default */
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* putter dette lag forrest */
    cursor: pointer; 
}

.luk-overlay {
    position: relative;
    margin-left: auto;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
}

.overlay-indhold {
    display: flex;
    position: relative;
    top: 75px;
    background-color: white;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-top: 0.8em;
    margin-top: 0;
    height: auto;
}

/* GRID TIL OVERLAY INDHOLD */
.service-illustration {
    grid-area: illustration;
}

.service-illustration svg {
    max-width: 50%;
    margin: auto;
    display: flex;
}

.service-tekst {
    -webkit-overflow-scrolling: touch;
    grid-area: tekst;
}

.luk-overlay {
    grid-area: luk;
}

.overlay-indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr 1fr;
    grid-template-areas: 
                "luk luk"
                "illustration illustration"
                "tekst tekst";
}

.service-tekst {
    padding: 15px;
    background-color: rgb(255, 153, 51);
    color: white;
    max-height: 100%;
}

.service-tekst h3 {
    font-family: Sansa-Bold;
    margin-bottom: 5px;
    color: white;
}

.service-tekst p {
    font-family: Sansa-Light;
    font-weight: 600;
    line-height: 23px;
}



/* styling til ikoner */
.service-ikon {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: -9px;
}

.ikon-beskrivelse {
    text-align: center;
    font-family: Sansa-Light;
    font-weight: 600;
}

.foto-desc {
    margin-top: -20px;
}

.tryk-desc {
    margin-top: -20px;
}


/* GRID til service section */
#hjemmesideproduktion-ikon {
    grid-area: hjemmesideproduktion;
    transition: .2s; 
    width: 75%; 
    padding: 5px;   
}

#hjemmesideproduktion-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#hjemmesideproduktion-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#tekstproduktion-ikon {
    grid-area: tekstproduktion;
    transition: .2s; 
    width: 75%;  
    padding: 5px;  
}

#tekstproduktion-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#tekstproduktion-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#foto-ikon {
    grid-area: foto;
    transition: .2s; 
    width: 75%;  
    padding: 5px;  
}

#foto-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#foto-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#video-ikon {
    grid-area: video;
    transition: .2s; 
    width: 75%;  
    padding: 5px;  
}

#video-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#video-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#bmc-ikon {
    grid-area: bmc;
    transition: .2s;
    width: 75%;  
    padding: 5px;  
}

#bmc-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#bmc-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#infografik-ikon {
    grid-area: infografik;
    transition: .2s; 
    width: 75%;  
    padding: 5px;  
}

#infografik-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#infografik-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#logodesign-ikon {
    grid-area: logodesign;
    transition: .2s; 
    width: 75%; 
    padding: 5px;   
    
}

#logodesign-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#logodesign-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#tryksager-ikon {
    grid-area: tryksager;
    transition: .2s; 
    width: 75%;
    padding: 5px;  

}

#tryksager-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#tryksager-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#services-section h2 {
    text-align: center;
    font-family: Sansa-Bold;
    grid-area: servicetitel;
    font-size: 26px;
    margin-bottom: -20px;
}

#services-section {
    display: flex;
    justify-items: center;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
                    "servicetitel servicetitel servicetitel"
                    "hjemmesideproduktion tekstproduktion logodesign "
                    "video foto  infografik"
                    "bmc tryksager .";
}

#services-section h2 {
    color: white;
}

#services-section {
    padding-top: 1.5em;
    padding-bottom: 2em;
    margin-right: -0.8em;
    margin-left: -0.8em;
    background-color: rgba(255, 153, 51, 1);
}



#hjemmesideproduktion-tekst,
#logodesign-tekst {
    overflow-y: scroll;
    height: 400px;
}

/* OM OS */
#omos-section {
    margin-top: 3em;
    margin-bottom: 5em;
}

#omos-section article {
    padding-right: 1em;
    padding-left: 1em;
}

#om-os-billeder div {
    margin-right: 20px;
    margin-left: 20px;
}

#om-os-billeder img {
    border-radius: 50%;
    height: 150px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 10px;
  }

#omos-section p {
    font-family: Sansa-Light;
    font-weight: 600;
    line-height: 23px;
    
}

#omos-section div p {
    font-family: Sansa-Light;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-bottom: 20px;
}

#omos-section h2 {
    font-family: Sansa-Bold;
    text-align: center;
    font-size: 26px;
}

#om-os-billeder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    
}



footer {
    max-width: 100%;
    color: white;
    padding: 1em 0em ;
    background-color: #ff9933;
    margin-top: 2em;
    font-family: Sansa-Light;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr 1fr;
    grid-template-areas: 
                    "kontaktos kontaktos kontaktos"
                    "bjarne bjarne bjarne"
                    "drescher drescher drescher"
                    "terkel terkel terkel"
                    "copyright copyright copyright"
}

footer h2 {
    grid-area: kontaktos;
    color: white;
    font-family: Sansa-Bold;
    text-align: center;
}

#copyright { 
    text-align: center;
    grid-area: copyright;
    margin-top: 2em;
}

.kontaktelement {
    margin: auto;
    font-weight: 600;
}

.navn {
    text-decoration: underline;
}

#koninfo {
    font-family: Sansa-Bold; 
}

#bjarne {
    grid-area: bjarne;
    font-size: 14px;
}

#drescher {
    grid-area: drescher;
    font-size: 14px;
}

#terkel {
    grid-area: terkel;
    font-size: 14px;
}

footer li {
    margin-bottom: 10px;
}

p {
    letter-spacing: 1.3px;
}


@media only screen and (min-width: 480px) {
    #hjemmesideproduktion-tekst,
    #logodesign-tekst {
        overflow-y: hidden;
        height: 100%;
    }

    /* GRID til service section */
    #hjemmesideproduktion-ikon {
        width: 75%;     
    }


    #tekstproduktion-ikon {
        width: 75%;  
    }


    #foto-ikon {
        width: 75%;  
    }


    #video-ikon {
        width: 65%;   
    }


    #bmc-ikon {
        width: 75%;   
    }


    #infografik-ikon {
        width: 75%;   
    }


    #logodesign-ikon {
        width: 75%;   
        
    }


    #tryksager-ikon {
        width: 75%;  

    }

    #services-section h2 {
        color: white;
    }

    #services-section {
        padding-top: 1.5em;
        padding-bottom: 2em;
        margin-right: -0.8em;
        margin-left: -0.8em;
        background-color: rgba(255, 153, 51, 1);
    }

    #services-section {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .service-tekst {
        padding: 30px;
    }


    /* OM OS */
#omos-section {
    margin-top: 3em;
    margin-bottom: 5em;
}

#omos-section article {
    padding-right: 1em;
    padding-left: 1em;
}

#om-os-billeder img {
    border-radius: 50%;
    height: 150px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }

#omos-section p {
    font-family: Sansa-Light;
    font-weight: 600;
    line-height: 23px;
    
}

#omos-section div p {
    font-family: Sansa-Bold;
    font-size: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-bottom: 20px;
}

#omos-section h2 {
    font-family: Sansa-Bold;
    text-align: center;
    font-size: 26px;
}

#om-os-billeder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
    
}

}


@media only screen and (min-width: 768px) {
    
    /* GRID til service section */
    #hjemmesideproduktion-ikon {
        width: 50%;     
    }


    #tekstproduktion-ikon {
        width: 50%;  
    }


    #foto-ikon {
        width: 50%;  
    }


    #video-ikon {
        width: 50%;  
    }


    #bmc-ikon {
        width: 50%;  
    }


    #infografik-ikon {
        width: 50%;  
    }


    #logodesign-ikon {
        width: 50%;  
        
    }


    #tryksager-ikon {
        width: 50%;  

    }

    #services-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .overlay-indhold {
        display: flex;
        position: relative;
        top: 75px;
        background-color: white;
        margin-left: 0.3em;
        margin-right: 0.3em;
        padding-top: 0.8em;
        margin-top: 0;
        height: auto;
    }
    
    /* GRID TIL OVERLAY INDHOLD */
    .service-illustration svg {
        max-width: 50%;
        margin: auto;
        display: flex;
    }
    
    .luk-overlay {
        grid-area: luk;
        width: 100%;
        text-align: right;
        padding-right: 15px;
        padding-top: 10px;
        height: 100%;
        background-color: rgb(255, 153, 51);
        color: white;
    }
    
    .service-tekst {
        padding: 0;
        padding-left: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-top: 0px;
        background-color: rgb(255, 153, 51);
        color: white;
        height: 100%;
    }
    
    .service-tekst h3 {
        font-family: Sansa-Bold;
        margin-bottom: 5px;
        color: white;
    }
    
    .service-tekst p {
        font-family: Sansa-Light;
    }

    .service-illustration {
        max-width: 100%;
    }

    .service-illustration svg {
        max-width: 100%;
        margin-bottom: auto;
    }

    .service-tekst {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        background-color: rgb(255, 153, 51);
        color: white;
        max-height: 100%;;
    }

    .service-tekst h3 {
        color: white;
        font-size: 28px;
    }

    .overlay-indhold {
        margin-top: 1em;
        margin-left: 2em;
        margin-right: 2em;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 1fr;
        grid-template-areas: 
                    "illustration luk"
                    "illustration tekst";
    }

    .foto-desc {
        margin-top: -20px;
    }
    
    .tryk-desc {
        margin-top: -20px;
    }

    /* SERVICE BACKGROUND */
    #services-section h2 {
        color: white;
    }

    #services-section {
        padding-top: 2em;
        padding-bottom: 2em;
        margin-right: -0.8em;
        margin-left: -0.8em;
        background-color: rgba(255, 153, 51, 1);
    }

            /* OM OS */
    #omos-section h2 {
        font-size: 26px;
    }

    #omos-section {
        margin-top: 5em;
        margin-bottom: 5em;
    }

    #omos-section article {
        padding-right: 8em;
        padding-left: 8em;
    }

    #om-os-billeder img {
        border-radius: 50%;
        height: 300px;
        margin-top: 20px;
    }

    #omos-section p {
        font-family: Sansa-Light;
        font-weight: 600;
        
    }

    #om-os-billeder div {
        text-align: center;
    }

    #omos-section div p {
        font-family: Sansa-Light;
        font-size: 18px;
        font-style: italic;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        margin-bottom: 20px;
    }

    #omos-section h2 {
        font-family: Sansa-Bold;
        text-align: center;
        font-size: 42px;
    }

    #om-os-billeder {
        margin-top: 10px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    p {
        letter-spacing: 1.3px;
    }

}

@media only screen and (min-width: 1025px) {
    h4 {
        font-family: Sansa-Bold;
    }

    /* GRID til service section */
    #hjemmesideproduktion-ikon {
        width: 60%;     
    }


    #tekstproduktion-ikon {
        width: 60%;  
    }


    #foto-ikon {
        width: 60%;  
    }


    #video-ikon {
        width: 60%;  
    }


    #bmc-ikon {
        width: 60%;  
    }


    #infografik-ikon {
        width: 60%;  
    }


    #logodesign-ikon {
        width: 60%;  
        
    }


    #tryksager-ikon {
        width: 60%;  

    }

    #services-section h2 {
        font-size: 42px;
        color: white;

    }

    #services-section {
        padding-top: 2em;
        padding-bottom: 2em;
        margin-right: -0.8em;
        margin-left: -0.8em;
        background-color: rgba(255, 153, 51, 1);
        padding-left: 160px;
        padding-right: 160px;
        grid-row-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
                "servicetitel servicetitel servicetitel servicetitel "
                "hjemmesideproduktion tekstproduktion logodesign infografik"
                "video foto bmc tryksager";
    }

    /* GRID TIL OVERLAY INDHOLD */
    .service-illustration svg {
        max-width: 50%;
        margin: auto;
        display: flex;
    }
    
    .service-tekst {
        grid-area: tekst;
    }
    
    .luk-overlay {
        grid-area: luk;
        width: 100%;
        text-align: right;
        padding-right: 15px;
        padding-top: 10px;
        height: 100%;
        background-color: rgb(255, 153, 51);
        color: white;
    }
    
    .service-tekst {
        padding: 0;
        padding-left: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-top: 0px;
        background-color: rgb(255, 153, 51);
        color: white;
        height: 100%;
    }
    
    .service-tekst h3 {
        font-family: Sansa-Bold;
        margin-bottom: 5px;
        color: white;
    }
    
    .service-tekst p {
        font-family: Sansa-Light;
        line-height: 23px;
    }

    .service-illustration {
        max-width: 100%;
    }

    .service-illustration svg {
        max-width: 65%;
        height: auto;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }

    .service-tekst {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        background-color: rgb(255, 153, 51);
        color: white;
        font-weight: 600;
        max-height: 100%;;
    }

    .service-tekst p {
        line-height: 23px;
    }

    .service-tekst h3 {
        color: white;
        font-size: 28px;
    }

    .overlay-indhold {
        margin-top: 1em;
        margin-left: 2em;
        margin-right: 2em;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 1fr;
        grid-template-areas: 
                    "illustration luk"
                    "illustration tekst";
    }

    .foto-desc {
        margin-top: -25px;
    }
    
    .tryk-desc {
        margin-top: -28px;
    }

    .bmc-desc {
        margin-top: -20px;
    }

    /* OM OS */
#omos-section {
    margin-top: 5em;
    margin-bottom: 5em;
}

#omos-section article {
    padding-right: 16em;
    padding-left: 16em;
}

#om-os-billeder img {
    border-radius: 50%;
    height: 300px;
    margin-top: 20px;
  }

#om-os-billeder p {
    font-family: Sansa-Light;
    font-weight: 600;
    font-size: 18px;
    
}

#omos-section h2 {
    font-family: Sansa-Bold;
    text-align: center;
    font-size: 42px;
}

#omos-section div p {
    font-family: Sansa-Light;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-bottom: 20px;
}

#om-os-billeder {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* FOOTER */
footer {
    max-width: 100%;
    color: white;
    padding: 1em 0 1em 0;
    background-color: #ff9933;
    margin-top: 2em;
    font-family: Sansa-Light;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 2fr 1fr;
    grid-template-areas: 
                    "kontaktos kontaktos kontaktos"
                    "bjarne drescher terkel"
                    ". copyright ."
}

#copyright { 
    text-align: center;
    grid-area: copyright;
    margin-top: 2em;
}

.kontaktelement {
    margin: auto;
    font-weight: 600;
    
}

.navn {
    text-decoration: underline;
}

#koninfo {
    font-family: Sansa-Light; 
}

#bjarne {
    grid-area: bjarne;
    font-size: 16px;
}

#drescher {
    grid-area: drescher;
    font-size: 16px;
}

#terkel {
    grid-area: terkel;
    font-size: 16px;
}

footer li {
    margin-left: 1em;
    margin-bottom: 10px;
}


}