* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* FONTS */
@font-face {
    font-family: Sansa-Bold;
    src: url("sansa-font/SANSB___.TTF")
}

@font-face {
    font-family: Sansa-Light;
    src: url("sansa-font/SANSL___.TTF")
}

/* IKONER SVG CSS */
/* Hjemmesideproduktion */
#Computer1  .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Computer1  .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Computer1  .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Computer1  .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Computer1  .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Computer1  .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Computer1  .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Computer1  .st7{display:none;}
#Computer1  .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Computer1  .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Computer1  .st10{fill:#FFFFFF;}
#Computer1  .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Computer1  .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Computer1  .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Computer1  .st14{stroke:#000000;stroke-miterlimit:10;}
#Computer1  .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Tekstproduktion */
#Tekstproduktion .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Tekstproduktion .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Tekstproduktion .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tekstproduktion .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Tekstproduktion .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Tekstproduktion .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tekstproduktion .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tekstproduktion .st7{display:none;}
#Tekstproduktion .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tekstproduktion .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Tekstproduktion .st10{fill:#FFFFFF;}
#Tekstproduktion .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Tekstproduktion .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Tekstproduktion .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Tekstproduktion .st14{stroke:#000000;stroke-miterlimit:10;}
#Tekstproduktion .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Fotografering */
#Foto .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Foto .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Foto .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Foto .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Foto .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Foto .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Foto .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Foto .st7{display:none;}
#Foto .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Foto .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Foto .st10{fill:#FFFFFF;}
#Foto .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Foto .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Foto .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Foto .st14{stroke:#000000;stroke-miterlimit:10;}
#Foto .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Videoproduktion */
#Film .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Film .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Film .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Film .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Film .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Film .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Film .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Film .st7{display:none;}
#Film .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Film .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Film .st10{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-linecap:round;stroke-miterlimit:10;}
#Film .st11{stroke:#000000;stroke-width:11;stroke-linecap:round;stroke-miterlimit:10;}
#Film .st12{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Film .st13{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Film .st14{fill:#FFFFFF;}
#Film .st15{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Film .st16{stroke:#000000;stroke-miterlimit:10;}
#Film .st17{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* BMC */
#BMC .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#BMC .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#BMC .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#BMC .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#BMC .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#BMC .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#BMC .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#BMC .st7{display:none;}
#BMC .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#BMC .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#BMC .st10{fill:#FFFFFF;}
#BMC .st11{fill:none;}
#BMC .st12{stroke:#000000;stroke-width:8;stroke-miterlimit:10;}
#BMC .st13{font-family: Sansa-Bold;}
#BMC .st14{font-size:170px;}
#BMC .st15{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#BMC .st16{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#BMC .st17{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#BMC .st18{stroke:#000000;stroke-miterlimit:10;}
#BMC .st19{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Infografik */
#Infografik .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Infografik .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Infografik .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Infografik .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Infografik .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Infografik .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Infografik .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Infografik .st7{display:none;}
#Infografik .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Infografik .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Infografik .st10{fill:#FFFFFF;}
#Infografik .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Infografik .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Infografik .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Infografik .st14{stroke:#000000;stroke-miterlimit:10;}
#Infografik .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Logodesign */
#Logodesign .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Logodesign .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Logodesign .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Logodesign .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Logodesign .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Logodesign .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Logodesign .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Logodesign .st7{display:none;}
#Logodesign .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Logodesign .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Logodesign .st10{fill:#FFFFFF;}
#Logodesign .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Logodesign .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Logodesign .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Logodesign .st14{stroke:#000000;stroke-miterlimit:10;}
#Logodesign .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}

/* Tryksager */
#Tryksager .st0{fill:#FFFFFF;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Tryksager .st1{fill:#FFFFFF;stroke:#000000;stroke-width:7;stroke-miterlimit:10;}
#Tryksager .st2{fill:none;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tryksager .st3{stroke:#000000;stroke-width:6;stroke-miterlimit:10;}
#Tryksager .st4{fill:none;stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
#Tryksager .st5{stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tryksager .st6{fill:#FFFFFF;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tryksager .st7{display:none;}
#Tryksager .st8{display:inline;stroke:#000000;stroke-width:5;stroke-miterlimit:10;}
#Tryksager .st9{stroke:#000000;stroke-width:19;stroke-miterlimit:10;}
#Tryksager .st10{fill:#FFFFFF;}
#Tryksager .st11{fill:none;stroke:#000000;stroke-width:11;stroke-miterlimit:10;}
#Tryksager .st12{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
#Tryksager .st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
#Tryksager .st14{stroke:#000000;stroke-miterlimit:10;}
#Tryksager .st15{stroke:#000000;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}





/* MOBIL CSS */
#pagewrap {
    margin: 0.8em;
}

.hero-section video {
    max-width: 100%;
    
}

.hero-section {
    padding-top: 40px;
}


.overlay {
    position: fixed; /* Vil altid være ovenpå siden */
    display: none; /* vises ikke som default */
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.05); /* Black background with opacity */
    z-index: 2; /* putter dette lag forrest */
    cursor: pointer; 
}

.luk-overlay {
    position: relative;
    margin-left: auto;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
}

.overlay-indhold {
    position: relative;
    top: 90px;
    background-color: white;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-top: 0.8em;
    height: 100%;
}

.service-tekst {
    margin-left: 20px;
}

/* GRID TIL OVERLAY INDHOLD */
.service-illustration {
    grid-area: illustration;
}

.service-tekst {
    grid-area: tekst;
}

.luk-overlay {
    grid-area: luk;
}

.overlay-indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr;
    grid-template-areas: 
                "luk luk"
                "illustration tekst";
}



/* styling til ikoner */
.service-ikon {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.ikon-beskrivelse {
    text-align: center;
    margin-top: -40px;
    font-family: Sansa-Light;
    display: none;
}

.foto-desc {
    margin-top: -60px;
}

.video-desc {
    margin-top: -30px;
}

.tryk-desc {
    margin-top: -60px;
}


/* GRID til service section */
#hjemmesideproduktion-ikon {
    grid-area: hjemmesideproduktion;
    transition: .2s; 
    width: 70%;     
}

#hjemmesideproduktion-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#hjemmesideproduktion-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#tekstproduktion-ikon {
    grid-area: tekstproduktion;
    transition: .2s; 
    width: 70%;  
}

#tekstproduktion-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#tekstproduktion-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#foto-ikon {
    grid-area: foto;
    transition: .2s; 
    width: 70%;  
}

#foto-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#foto-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#video-ikon {
    grid-area: video;
    transition: .2s; 
    width: 70%;  
}

#video-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#video-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#bmc-ikon {
    grid-area: bmc;
    transition: .2s;
    width: 70%;  
}

#bmc-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#bmc-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#infografik-ikon {
    grid-area: infografik;
    transition: .2s; 
    width: 70%;  
}

#infografik-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#infografik-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#logodesign-ikon {
    grid-area: logodesign;
    transition: .2s; 
    width: 70%;  
}

#logodesign-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#logodesign-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#tryksager-ikon {
    grid-area: tryksager;
    transition: .2s; 
    width: 70%;  
}

#tryksager-ikon:hover {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

#tryksager-ikon:focus {
    transform: scale(1.2);
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .9));
      
}

.services-section {
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
                    "hjemmesideproduktion tekstproduktion foto"
                    "video bmc infografik"
                    "logodesign tryksager .";
}

footer {
    border-top-style: solid;
    padding-top: 1em;
    font-family: Sansa-Light;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
                    "bjarne drescher terkel"
                    ". copyright ."
}

#copyright { 
    text-align: center;
    grid-area: copyright;
    margin-top: 2em;
}


.kontaktelement {
    margin: auto;
}

.navn{
    text-decoration: underline;
}

#bjarne {
    grid-area: bjarne;
}

#drescher {
    grid-area: drescher;
}

#terkel {
    grid-area: terkel;
}